.skills {
    width: 100%;
    font-size: 0.8vw;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 20px;
}
.skill-bar h2 {
    font-size: 18px;
    padding: 0;
    font-weight: 400;
}
.progress-bar {
    width: 100%;
}
.skill-item {
    width: 100%;
}
.skill-title {
    font-size: 30px;
   color: rgb(222, 64, 64);
}
.skills-name {
    margin-top: 10px;
    margin-bottom: unset;
}