.app {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 300vh;
    margin: 10px;
}
.content {
    display: flex;
    height: 98%;
    width: 50%;
    margin: 10px;
}
.left-content {
    width: 28%;
    height: 80%;
    background: white;
}
.right-content {
    width: 72%;
    height: 80%;
    background: green;
}
