.app {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 150vh;
    margin: 10px;
}
.header {
    padding-top: 15px;
    
}
.contact-title {
    color: rgb(222, 64, 64);
    font-size: 25px;
    margin-bottom: unset;
    margin-top: 20px;
}