.cv-header-description { 
    font-size: 20px;
}
.cv-header-container { 
    background-color: lightcoral;       
    border-radius: 15px;
    padding-left :10px;
    color : white;
    height: 41%;
}
.cv-header-name ,.cv-header-title {
    margin :0 ;
    padding:15px 0 0 10px ;
}
hr {
    margin:10px 0 0 10px;
    width:90%;
    
}
